@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300italic,500,500italic');
@import 'font-awesome.min.css';
body{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro','sans-serif';
    height: 100%;
}

.nop{
    padding: 0;
}
.contentVIew{
    img{
        position: relative;

        cursor: pointer;
        margin: 1em 40%;
        cursor: pointer;
    }
    position: relative;
     background:#191919;
     padding: 3em;
     min-height:100vh;
     color: #eee;
     width:35em;
}
.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width:auto;
    min-width: 120px;
    height:100vh;
    background: #222;
    padding:25vh 0 4em !important;
    color:#eee !important;
    z-index: 3;
    box-shadow: 2px 0px 15px 1px #151515;

    img{
        margin:0 auto;
    }
    li{
        padding:0.5em 1em;
        display:block !important;
        cursor: pointer;
        margin:5px 0;
        text-align: center;
    }
    .active{
        color:#fcf693;
    }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuList{
    margin-top:4em;
}

.logoHead{
    font-family: 'Playfair Display', 'Exo';
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #024b8d;
    font-size: 3em;
}

h3, h4, h5{
    font-weight: 400;
    margin: 10px 0 20px;
}
h1, h2, h3, h4, h5, {
    font-family: 'Lato', 'Raleway';
    font-weight: bold;
}

.logoSubHead{
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 0px;
    text-transform: uppercase;
    font-family: 'Exo';
    display: block;
    margin-left: 9.5em
}
.workSlide{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2em;
    display: block;
    height: 1.3em;
    overflow: hidden;
    font-family: 'Exo';
}
button, input[type="submit"]{
    padding: 1em;
    color: #333;
    background: linear-gradient(#fcf693, #ffd271);
    border:none;
    border-radius: 5px;
    display: block;
    outline: none;
}
.selectInput{
  display: inline-block;
  background:#fff;
  border-radius: 4px;
  padding:10px;
  width: 100%;
  margin-bottom: 1em;
  select{
    border:0;
    color:#000;
    width:100%;
    outline:none;
    padding: 10px;
  }
}
.introText{
  position:absolute;
  background: #eee;
  border: 2px solid #fff;
  opacity: 0.9;
  padding: 2.5em;
  h2{
      font-size: 1.3em;
  }
  h3{
    font-size: 1em;
    margin:0
  }
  h4{
      font-size: 0.85em
  }
  .closeButton{
    font-size:2em;
    color:#555;
    position: absolute;
    top: 1em;
    right:1.2em;
    cursor:pointer;
    // box-shadow: 0px 0px 1px 1 #777;
  }
  border-radius: 5px;
    width: 350px;
    margin: 190px 200px;
    button{
      display: block;
      width: auto;
      margin-top:2.5em;
      box-shadow: 0 0 5px 1px #aaa;
    }
}
.imageMover{
     position:fixed;
     height:100%;
     width:100%;

}
.videoContainer{
     position:absolute;
     background: #eee;
     z-index: 2;
     height:100vh;
     width:100vw;
     text-align: center;
     video{
         width: 100%;
         height: 100%;
     }
     .skip{
         font-weight: bold;
         color: #333;
         display: inline-block;
         margin-left:  50vw;
         padding:10px 20px;
         background:#ccc;
         cursor: pointer;
         position: absolute;
         bottom: 10em;
         left:0;
         z-index: 2;
         opacity: 0.85;
         border:2px #fff solid
     }

}
.infoSpace{
    position: absolute;
    width:auto;
    height: 100vh;
    left:8vw;
}
.notification{
    color:#a49;
}
.textError{
    color:#a33
}
input, textarea{
    background:#eee;
    color: #555;
    border: 1px solid #ddd;
    display:block;
    width:100%;
    border-radius: 5px;
    padding:0.8em 1em;
    margin: 1em 0;
    outline: none;
}
input:focus{
    border:1px solid #ffd271;
    background: #fff
}
.footerMenu{
  background: linear-gradient(#3a3a3a,#303030);
      width: 100vw;
      box-shadow: 0 -1px 10px #222;
      padding: 10px 20px;
      font-size: .9em;
      position: fixed;
      bottom: 0;
      z-index: 4;
      color: #666;
      text-align: left;
      ul{
        float: right;
        position: relative;
      }
      li {
        color: #999 !important;
        float: left;
        height: 20px;
        margin: 0 5px;
        cursor: pointer;
      }
      li:hover{
        color:#ddd;
      }
}
.route{
    position: relative;
    z-index: 2;
}
a{
  text-decoration: none;
  margin: 0;
  color:#888;
}
a:hover{

  color:#ddd;
}

//animations keyframes
@keyframes rotate{
  0%{
        transform: rotate(0deg);
        opacity: 1;
    }
  25%{
        transform: rotate(90deg);
        opacity: 1;
    }
  50%{
      transform: rotate(90deg);
      opacity: 0;
    }
    51%{
        transform: rotate(0deg);
        opacity: 0;
      }
  75%{
      transform: rotate(0deg);
      opacity: 1;
  }
  100%{
      transform: rotate(0deg);
      opacity: 1;
  }
}

@keyframes promoEnter{
    from{
      transform: translateX(320px);
      opacity: 0;
      z-index: 1;}

    to{
      transform: translateX(0px);
      opacity: 1;
      z-index: 0;}
}
@keyframes promoLeave{
    from{
      transform: translateX(0px);
      opacity: 1;}

    to{
      transform: translateX(320px);
      opacity:0;}
}
@keyframes moveEnter{
    from{
      transform: translateX(-400px);
      opacity: 1;
      z-index: 1;}

    to{
      transform: translateX(0px);
      opacity: 1;
      z-index: 1;}
}
@keyframes moveLeave{
    from{
      transform: translateX(0px);
      opacity: 1;}

    to{
      transform: translateX(-400px);
      opacity:1;}
}

@keyframes picEnter{
    0%{
        transform: translateY(-100vh) ;
        z-index: 0;
        opacity: 0;
    }

    80%{
      transform: translateY(15vh);
      opacity: 0.85;
    }
      100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
@keyframes picLeave{
    0%{
      transform: translateY(0vh);
      opacity: 1;
      z-index: 0;
    }
    20%{
        transform: translateY(15vh)
    }
    75%{
        opacity: 0
    }

    100%{
      transform: translateY(-100vh) ;
      opacity:0;
      z-index: 0;
    }
}

.animate_xs_delay{
    animation-delay: 500ms !important;
}


.animate_sm_delay{
    animation-delay: 750ms !important;
}


.animate_md_delay{
    animation-delay: 1500ms !important;}

.animate_lg_delay{
    animation-delay: 2000ms !important;}

.animate_xs_duration{
    animation-duration: 500ms !important;}

.animate_sm_duration{
    animation-duration: 750ms !important;}

.animate_md_duration{
    animation-duration: 1500ms !important}

.animate_lg_duration{
    animation-duration: 2000ms !important}

.animate_xlg_duration{
    animation-duration: 3000ms !important}
.rotateClockwise{
    animation: rotate 4s linear infinite }

.rotateAntiClockwise{
    animation:rotate 1s  linear infinite  reverse}
.transform_origin{
    transform-origin: 100% 100%}

.promoAnim-enter{
    opacity: 0;
}
.promoAnim-enter.promoAnim-enter-active{
  animation: promoEnter 1230ms ease-in 0ms forwards}
.promoAnim-leave{
    opacity: 1;
}
.promoAnim-leave.promoAnim-leave-active{
  animation: promoLeave 1250ms ease-in 0ms forwards}

.aboutImages-enter{
  opacity: 0.01;
  z-index: 4}

.aboutImages-enter.aboutImages-enter-active{
  animation: moveEnter 900ms ease-in 0ms forwards}

.aboutImages-leave{
  opacity: 1;
   z-index: 1}

.aboutImages-leave.aboutImages-leave-active{
  animation: moveLeave 1000ms ease-in 0ms forwards
}

.picAnim-enter{
    opacity: 0;
}
.picAnim-enter.picAnim-enter-active{
  animation: picEnter 530ms ease-in 200ms forwards}
.picAnim-leave{
    opacity: 1;
}
.picAnim-leave.picAnim-leave-active{
  animation: picLeave 1250ms ease-in 0ms forwards}

.aboutItem{
    margin: 0;
    h2, span{
        margin: 0 0 0.5em 0 !important}
}
.aboutMovable{
     width: 100% !important;
     .inner{
         display: flex;
         flex-direction: row;
     }
    ul{
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: left;
        list-style: none;
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        li{
            margin:0;
            padding: 0
        }
    }
}
.imageMover{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #333;
    overflow: hidden;
    .imageContainer{
        height: 100%;
        position: relative;
        top: 0;
        .imgBack{
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}
#warning-message {
     display: none;
     text-align: center;
     padding-top: 30vh;
     height:100vh;
     background: url("/images/mobileBackground.jpg") center no-repeat;
     img{
         display: block;
         margin: 1em auto;
     }
     .iconLg{
         font-size: 4em !important;
     }
     .warning-content{
         background: #fff;
         color:#333;
         padding:20px;
         opacity: 0.95;
         border:1px solid #333;
         border-left: none;
         border-right: none;
     }
     .icon-stack{

         margin: 1em 0 0.5em -1em;
         min-height: 2em;
         position: relative;
         font-size: 2em !important;
         span{
             width:auto;
             position: absolute;
             display: inline-block;
         }
     }
     .icon-stack span:nth-child(1){
         font-size: 2.4em !important;
         margin:-0.25em 0 0 -0.32em;
     }
 }
 @media only screen and (max-width: 800px){
     .introText{
         margin-top: 4em;
         margin-left: 9.5em;
         button{
             margin-top: 1em;
         }
     }
 }
@media screen and (max-width: 700px){
    .menu{
        width:50px;
        min-width: 30px;
        img{
            display: none;
        }
        .menuList{
            margin-top: 0;
        }
    }
    .introText{
        margin-top: 2em;
        margin-left: 4.5em;
        button{
            margin-top: 1em;
        }
    }

}
@media screen and (min-height: 590px){
    @media screen and (max-width: 1024px){
        .imageContainer{
            padding: 5.5em 0;
        }
    }
    @media screen and (max-width: 1380px){
        .imageContainer{
            padding: 8em 0;
        }
    }
}


   @media only screen and (orientation:portrait){
       .App{ display:none; }
       #warning-message { display:block; }
   }
   @media only screen and (orientation:landscape){
       #warning-message { display:none; }
   }
